<!DOCTYPE html>
<html>

<head>
  <!-- Import style -->
  <link rel="stylesheet" href="./element-plus/index.css" />
  <!-- Import Vue 3 -->
  <script src="./vue3/vue.global.js"></script>
  <!-- Import component library -->
  <script src="./element-plus/index.full.js"></script>
  <!-- Import element plus icons -->
  <script src="./element-plus/index.iife.min.js"></script>
  <!-- 引入 ECharts 文件 -->
  <script src="./echarts/echarts.min.js"></script>
  <script src="./data/competitionData.js"></script>
  <script src="./data/playerData.js"></script>
  <meta charset="utf-8">
  <title>超级无敌热血激情陀螺争霸赛历届出道名单</title>
</head>

<body>
  <div id="app">
    <el-container>
      <el-header>
        <h1>超级无敌热血激情陀螺争霸赛历届出道名单</h1>
      </el-header>
      <el-main>
        <el-table :data="playerData" stripe :default-sort="{prop:'no',order:'ascending'}">
          <el-table-column label="出道赛季" width="150" prop="no" sortable :sort-orders="['descending','ascending']">
            <template #default="scope">
              <el-button icon="TrophyBase" type="warning" size="large" @click="showCompetition(scope.row.no)">
                S{{scope.row.no+1}}
              </el-button>
            </template>
          </el-table-column>
          <el-table-column label="对战记录" prop="path" width="100">
            <template #default="scope">
              <el-button type="danger" icon="VideoPlay" circle :disabled="scope.row.path==''"
                @click="openVideo(scope.row.path)"></el-button>
            </template>
          </el-table-column>
          <el-table-column label="旋手名称" prop="data">
            <template #default="scope">
              <el-button icon="UserFilled" class="player-button" v-for="player in scope.row.data" size="large"
                type="primary" plain @click="showPlayer(player)">
                {{player.name}}
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-main>
      <el-footer>
        <el-link href="https://space.bilibili.com/1372433" target="_blank" type="info" :underline="false">
          超级无敌热血激情陀螺争霸赛赛委会
        </el-link>
      </el-footer>
    </el-container>

    <el-dialog v-model="playerDialogVisible" :lock-scroll="false" :append-to-body="true" center destroy-on-close
      top="10vh" width="800px">
      <template #header="{titleId}">
        <h3 :id="titleId">旋手简介</h3>
      </template>
      <el-descriptions direction="vertical" border :player="player">
        <el-descriptions-item rowspan="2" width="20%" label="照片" align="center">
          <el-image style="width: 100px; height: 100px" :src="'./photo/'+player.photo"></el-image>
        </el-descriptions-item>
        <el-descriptions-item label="名称" width="40%">{{player.name}}</el-descriptions-item>
        <el-descriptions-item label="状态" width="40%">{{player.status}}</el-descriptions-item>
        <el-descriptions-item label="冠军赛季" width="40%">
          <div class="no-wrap-40">{{player.champion}}</div>
        </el-descriptions-item>
        <el-descriptions-item label="亚军赛季" width="40%">
          <div class="no-wrap-40">{{player.runnerUp}}</div>
        </el-descriptions-item>
        <el-descriptions-item label="参与赛季" span="3">
          <el-scrollbar>
            <div class="no-wrap-100">{{player.compete}}</div>
          </el-scrollbar>
        </el-descriptions-item>
        <el-descriptions-item label="信息" span="3">
          <el-scrollbar max-height="150px" noresize>
            <div style="white-space:pre-line;">{{player.info}}</div>
          </el-scrollbar>
        </el-descriptions-item>
      </el-descriptions>
    </el-dialog>

    <el-dialog v-model="competitionDialogVisible" center :no="no" :lock-scroll="false" :append-to-body="true"
      @opened="openCompetition(no)" fullscreen destroy-on-close>
      <template #header="{titleId}">
        <h2 :id="titleId">S{{no+1}}赛季对战表</h2>
      </template>
      <div id="competitionChart" style="width:100%;height:550px;"></div>
    </el-dialog>
  </div>

  <script setup>
    const App = {
      data() {
        return {
          player: {},
          no: 0,
          playerDialogVisible: false,
          competitionDialogVisible: false,
          competitionData: competitionData,
          playerData: playerData
        };
      },
      methods: {
        showPlayer(player) {
          this.playerDialogVisible = true;
          this.player = player;
        },
        getCompetitionData(no) {
          for (i of this.competitionData) {
            if (i.no == no) return i.data;
          }
          return {};
        },
        openCompetition(no) {
          const competitionChart = echarts.init(document.getElementById("competitionChart"));
          competitionChart.setOption({
            tooltip: {
              trigger: "item",
              triggerOn: "mousemove",
              formatter: "{c}"
            },
            series: [
              {
                type: "tree",
                data: [this.getCompetitionData(no)],
                symbol: "arrow",
                symbolSize: 24,
                symbolOffset: [0, "-10%"],
                edgeShape: "polyline",
                orient: 'vertical',
                initialTreeDepth: -1,
                lineStyle: {
                  width: 2,
                  color: "#909399"
                },
                itemStyle: {
                  color: "#409EFF",
                },
                label: {
                  fontSize: 18,
                  backgroundColor: "#fff",
                  position: "top",
                  padding: 2
                },
                leaves: {
                  label: {
                    position: "bottom"
                  }
                },
              }
            ]
          });
        },
        showCompetition(no) {
          this.competitionDialogVisible = true;
          this.no = no;
        },
        openVideo(path) {
          window.open("https://www.bilibili.com/video/" + path, "_blank");
        }
      }
    };
    const app = Vue.createApp(App);
    //从 @element-plus/icons-vue 中导入所有图标并进行全局注册
    for (const [key, component] of Object.entries(ElementPlusIconsVue)) {
      app.component(key, component)
    }
    app.use(ElementPlus);
    app.mount("#app");
  </script>
  <style scoped>
    body {
      width: 1250px;
      margin: 0 auto;
    }

    .el-header,
    .el-footer {
      text-align: center;
    }

    .player-button {
      margin: 5px 10px 5px 0 !important;
    }

    td {
      word-break: break-all;
    }

    .no-wrap-40,
    .no-wrap-100 {
      white-space: nowrap;
    }

    .no-wrap-40 {
      max-width: 284px;
    }

    .no-wrap-100 {
      max-width: 744.4px;
    }
  </style>
</body>

</html>